<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p
<p>Jim</p>
<p>Lizzy M</p>
<p>Annie</p>
<p>Andrew</p>
<p>Find me in app/views/pages/index.html.erb</p>
<p>George Mikhail</p>
<p>Dani</p>
<p>Wen Zhang</p>
<p>luke o'connor</p>
<p>Dani</p>
<p>Wen Zhang</p>
<p>Jenilee</p>
<p>Lizzy M</p>
<p>Annie</p>
<p>Dani</p>
<p>Wen Zhang</p>
<p>Andrew</p>
<p>Wen Zhang</p>
<p>Sagar Miglani</p>
<p>Carlos Parrilla</p>







